In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xarray as xr
df = pd.read_csv('rgi_11.csv')
df

,Unnamed: 0,rgi_id,w5e5_hgt,w5e5_coords,month,terminus_alt,area,temp,gradient
0,0,RGI60-11.00001,930.0,"[47.75, 13.75]",1,2003.0,0.122,-8.205430,-0.005373
1,1,RGI60-11.00001,930.0,"[47.75, 13.75]",2,2003.0,0.122,-7.247490,-0.005580
2,2,RGI60-11.00001,930.0,"[47.75, 13.75]",3,2003.0,0.122,-4.579250,-0.005796
3,3,RGI60-11.00001,930.0,"[47.75, 13.75]",4,2003.0,0.122,-0.561740,-0.006106
4,4,RGI60-11.00001,930.0,"[47.75, 13.75]",5,2003.0,0.122,4.362788,-0.006195
...,...,...,...,...,...,...,...,...,...
38803,38803,RGI60-11.03234,1660.0,"[42.75, -0.25]",8,2255.0,0.025,12.704171,-0.006094
38804,38804,RGI60-11.03234,1660.0,"[42.75, -0.25]",9,2255.0,0.025,9.403811,-0.005876
38805,38805,RGI60-11.03234,1660.0,"[42.75, -0.25]",10,2255.0,0.025,5.235299,-0.005756
38806,38806,RGI60-11.03234,1660.0,"[42.75, -0.25]",11,2255.0,0.025,-0.569548,-0.005596
38807,38807,RGI60-11.03234,1660.0,"[42.75, -0.25]",12,2255.0,0.025,-3.661698,-0.005566

In [2]:
df2 = df[df.month==1]
df2 = df2.reset_index()
for i in range(0,df2.shape[0]):
    df2.loc[i, "subzero_alt"] = -df2.loc[i,"temp"]/df2.loc[i,"gradient"] + df2.loc[i,"terminus_alt"]
df2[["rgi_id", "terminus_alt", "subzero_alt", "temp", "gradient"]]

              rgi_id  terminus_alt  subzero_alt      temp  gradient
0     RGI60-11.00001        2003.0   475.892696 -8.205430 -0.005373
1     RGI60-11.00002        1253.0   475.892696 -4.175541 -0.005373
2     RGI60-11.00003        1478.0   475.892696 -5.384508 -0.005373
3     RGI60-11.00004        1825.0   475.892696 -7.249003 -0.005373
4     RGI60-11.00005        1721.0   475.892696 -6.690192 -0.005373
...              ...           ...          ...       ...       ...
3229  RGI60-11.03230        2205.0  1496.120251 -3.979579 -0.005614
3230  RGI60-11.03231        2139.0  1496.120251 -3.609062 -0.005614
3231  RGI60-11.03232        1873.0  1496.120251 -2.115765 -0.005614
3232  RGI60-11.03233        2309.0  1496.120251 -4.563424 -0.005614
3233  RGI60-11.03234        2255.0  1496.120251 -4.260274 -0.005614

[3234 rows x 5 columns]

In [3]:
# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=df.loc[x.index, "area"])
# Groupby and aggregate with namedAgg [1]:
df3 = df2.groupby("w5e5_hgt").agg(weighted_terminus_alt=("terminus_alt", wm), weighted_subzero_alt=("subzero_alt", wm), weighted_temp=("temp", wm))
df3 = df3.reset_index()
for i in range(0, df3.shape[0]):
    df3.loc[i, "w5e5_coords"] = df2.loc[df2.w5e5_hgt == df3.w5e5_hgt[i], "w5e5_coords"].values[0]
df3

,w5e5_hgt,weighted_terminus_alt,weighted_subzero_alt,weighted_temp,w5e5_coords
0,741.0,823.000000,759.321360,-0.347586,"[47.25, 8.75]"
1,930.0,1618.285714,475.864713,-6.138142,"[47.75, 13.75]"
2,984.0,974.244075,870.415954,-0.566740,"[47.25, 9.25]"
3,1070.0,1716.346955,707.373884,-5.564690,"[47.25, 9.75]"
4,1177.0,1995.046098,859.483528,-6.330099,"[46.75, 7.75]"
5,1179.0,1687.639720,1038.190325,-3.597975,"[46.25, 6.75]"
6,1419.0,2098.670281,732.942629,-7.445722,"[46.25, 9.25]"
7,1513.0,1462.000000,1710.435836,1.396731,"[42.75, 1.25]"
8,1598.0,2020.875785,819.111795,-6.513846,"[47.25, 13.25]"
9,1628.0,2090.377401,887.899648,-6.592650,"[47.25, 11.75]"
10,1634.0,2362.525701,718.785508,-9.069888,"[46.75, 12.75]"
11,1643.0,2331.000000,1598.655315,-4.128699,"[42.75, 0.75]"
12,1652.0,1839.079377,720.314533,-6.211732,"[46.25, 7.25]"
13,1653.0,2204.126661,879.799488,-7.380135,"[47.25, 11.25]"
14,1660.0,2123.245150,1496.120251,-3.520616,"[42.75, -0.25]"
15,1678.0,2426.702312,1326.557927,-6.167549,"[45.25, 7.25]"
16,1701.0,1915.644147,717.162518,-6.614665,"[47.25, 12.75]"
17,1705.0,2211.414884,828.851745,-7.686711,"[46.75, 11.25]"
18,1715.0,2179.167043,573.237679,-8.706446,"[46.75, 11.75]"
19,1721.0,2087.345768,921.651608,-6.474661,"[47.25, 10.25]"
20,1756.0,2286.950820,1373.133507,-5.156337,"[42.75, 0.25]"
21,1764.0,1882.659870,1048.629706,-4.637835,"[46.75, 8.25]"
22,1770.0,2005.115010,1163.645073,-4.633156,"[47.25, 12.25]"
23,1806.0,2054.912763,897.857784,-6.280689,"[46.75, 9.25]"
24,1842.0,2156.100720,1076.964983,-5.996426,"[46.25, 8.25]"
25,1866.0,1811.496976,987.491227,-4.504258,"[46.75, 8.75]"
26,1884.0,2263.401078,757.951315,-8.395487,"[46.25, 10.25]"
27,1930.0,2116.456595,1043.479201,-5.917414,"[46.75, 9.75]"
28,1940.0,2112.795109,1226.352398,-4.932378,"[45.75, 6.75]"
29,1948.0,2150.807967,720.273575,-7.997505,"[46.75, 12.25]"
30,1953.0,2202.473761,849.163944,-7.464850,"[46.25, 9.75]"
31,1967.0,2328.385768,1365.555351,-5.395393,"[45.75, 7.75]"
32,2198.0,2184.200000,1501.438503,-3.842328,"[45.25, 6.75]"
33,2252.0,2353.467869,917.057051,-8.039158,"[46.75, 10.75]"
34,2254.0,2218.563239,832.828307,-7.684605,"[46.75, 10.25]"
35,2255.0,2235.337695,1342.708315,-4.983169,"[45.75, 7.25]"
36,2275.0,2106.745712,1165.571242,-5.253690,"[46.25, 7.75]"

In [4]:
df4 = df3[['w5e5_hgt', 'w5e5_coords', 'weighted_subzero_alt', 'weighted_terminus_alt', 'weighted_temp']]
df4['w5e5_coords'] = df4['w5e5_coords'].astype(str)
df4.dtypes
df5 = df4.groupby("w5e5_hgt").mean().reset_index()
for i in range(0,df5.shape[0]):
    df5.loc[i,"w5e5_coords"] = df4.loc[df4.w5e5_hgt==df5.w5e5_hgt[i], "w5e5_coords"].values[0]

df5["alt_diff"] = df5["weighted_terminus_alt"] - df5["weighted_subzero_alt"]
df6 = df5[['w5e5_coords', 'alt_diff', 'weighted_temp']]
df6['w5e5_coords']=df6['w5e5_coords'].str.strip('[]').str.split(',')
df6['lat'], df6['lon'] = zip(*df6.pop('w5e5_coords'))
for i in range(0,df6.shape[0]):
    df6.loc[i,"slope"] = ds2.sel(latitude=df6.lat[i], longitude=df6.lon[i], method="nearest").RiverSlope.values[0]
df6 = df6[["lat", "lon", "alt_diff", "slope", "weighted_temp"]]
df6

/tmp/ipykernel_11034/1611354979.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['w5e5_coords']=df6['w5e5_coords'].str.strip('[]').str.split(',')
/tmp/ipykernel_11034/1611354979.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['lat'], df6['lon'] = zip(*df6.pop('w5e5_coords'))
/tmp/ipykernel_11034/1611354979.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['lat'], df6['lon'] = zip(*df6.pop('w5e5_coords'))

NameError: name 'ds2' is not defined

In [ ]:
ds2 = xr.open_dataset("/home/suryab/work/w5e5_orog/Global_RiverSlope_HydroSTN30_06min_Static.nc", decode_times=False)

mask1=  (df6.alt_diff > 10)
mask2 = (df6.slope > 0.01)
df6[mask2 & mask1].count()

In [ ]:
plt.scatter(df6.index, df6.alt_diff, color="black", label = "Condition 1 failure")
plt.scatter(df6[mask1].index, df6[mask1].alt_diff, color="blue", label = "Condition 2 failure")
plt.scatter(df6[mask2].index, df6[mask2].alt_diff, color="red", label = "All conditions pass")
plt.ylabel("Terminus and Subzero alt difference")
plt.xlabel("W5E5 grid cells")
plt.legend()

In [ ]:
plt.scatter(df6.index, df6.slope, color="black")
plt.ylabel("Slope")
plt.xlabel("W5E5 grid cells")
plt.legend()